<html class="home">
<head>
    <%- include("includes/head") %>
    <title>Chris Price Music Merch</title>
</head>
<body>
    <header>
        <%- include("includes/header") %>
    </header>
    <main class="main">
        <div style="padding: 4px;">
            <br>
            <h1 style="text-align: center;">Merch</h1>
            <br>
            <div style="display: grid; grid-template-columns: 1fr 1fr;">
                    <% products.forEach(product => { %>
                        <div class="product-card" onclick="window.location='/product/<%= product.slug %>'">
                            <div class="product-img-wrapper">
                                <img src="<%= product.image_url %>" alt="Image for <%= product.name %>">
                            </div>
                            <h2><b><%= product.name %></b></h2>
                            <p><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(product.price) %></p>
                        </div>
                    <% }) %>
                </div>

        </div>
    </main>
    <footer>
        <%- include("includes/footer") %>
    </footer>
</body>



</html>

