<html class="home">
<head>

  <%- include("includes/head") %>
    <% headUrl = `https://info.chrispricemusic.net/view-project/${project.slug}`%>
    <% headName = `Chris Price • Music & Media | ${project.title}` %>
    <title><%= headName %></title>

    <!-- SEO Meta -->
    <meta name="description" content="Original music, sound design, and multimedia content by Chris Price. Explore compositions, media projects, and creative collaborations.">
    <meta name="keywords" content="Chris Price, music composer, media producer, sound designer, audio, original music, film score, video, content creator">
    <meta name="author" content="Chris Price">
    

    <!-- Open Graph (Facebook, LinkedIn, Discord) -->
    <meta property="og:title" content="<%= headName %>">
    <meta property="og:description" content="Explore the work of Chris Price: composer, sound designer, and media creator. Hear original scores and view featured media projects.">
    <meta property="og:image" content="https://info.chrispricemusic.net/<%= project.hero %>">
    <meta property="og:url" content="<%= headUrl %>">
    <meta property="og:type" content="website">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= headName %>">
    <meta name="twitter:description" content="Music and multimedia content by Chris Price. Discover original compositions and sound design projects.">
    <meta name="twitter:image" content="https://info.chrispricemusic.net/<%= project.hero %>">

    <link rel="canonical" href="<%= headUrl %>">

  <style>

    .project-content {
      margin-top: 2rem;
    }
  </style>
</head>
<body>
  <header>
    <%- include("includes/header", { header: "programming" }) %>
  </header>

  <main class="main">
    <div class="container" style="margin: 16px;">
      <div style="position: relative; background: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
        url('<%= project.hero %>') center/cover no-repeat; 
        padding: 1rem;">
        <h1 style="text-shadow: 2px 2px 4px rgba(0,0,0,0.8); margin: 0; color: fff; text-align: center; font-size: 2rem; padding: 24px 0;">
          <%= project.title %>
        </h1>
      </div>

      

      <div class="project-content">
        <%- project.content %>
      </div>
    </div>
  </main>

  <footer>
    <%- include("includes/footer") %>
  </footer>

</body>
</html>
